<div class="abonents-table">
  <table class="table table-hover table-responsive-sm" *ngIf="openedAbonent()">
    <div class="table-content-block">
      <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor="let element of displayedColumns">
          {{ element }}
        </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let row of dataSource; let i = index" (click)="openAbonent(i)">
        <td *ngFor="let el of displayedColumns; let iClass = index" [className]="setClass(iClass)">{{ row[el] }}</td>
        <td><button class="btn btn-primary btn-sm" (click)="deleteContentRow(i)">Delete</button></td>
      </tr>
      </tbody>
    </div>

    <tfoot>
    <tr>
      <td colspan="18"><button class="btn btn-primary btn-sm" (click)="addFieldValue()">Add</button></td>
    </tr>
    </tfoot>
  </table>
</div>



<!--<router-outlet [abonent]="abonent"></router-outlet>-->
<app-abonent [abonent]="abonent" [id]="id" *ngIf="!openedAbonent()"></app-abonent>

<!--<table mat-table [dataSource]="dataSource" [className]="'table table-hover'">
  <ng-container *ngFor="let name of displayedColumns; let iCell = index" [matColumnDef]="name">
    <th mat-header-cell *matHeaderCellDef [className]="''">{{ name }}</th>
    <td mat-cell *matCellDef="let element" [className]="setClass(iCell)"> {{ element[name] }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" [className]="'thead-dark'"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="'abonents-tbody-tr'"></tr>
</table>-->


